---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  <div class="col-4 sm-width-full mt-1 border-top-thin ">
    <span>Category: {{ page.categories[0] }}</span>
    <p class="mb-3 py-2 bold h4"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </div>

  
  <div class="prose" itemprop="articleBody">
    {% if page.toc %}
    <div class="toc-container">
      <h2 id="toc-title" class="toc-title">목차</h2>
      {{ content | toc_only }}
    </div>
    {% endif %}
    {{ content }}
  </div>

</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include related-posts.html %}
</div>
